@media screen and (max-width: 1200px){
    .outer-container{
        padding: 20px 100px;
    }
    /* aside */
    aside > #search-nav > i{
        left: 25px;
    }
    #aside-search{
        padding-left: 60px;
    }
    #aside-search::placeholder{
        left: 60px;
    }
    /* main */
    .chat-text .row {
        padding: 5px 40px;
    }
}

@media screen and (max-width: 1000px){
    .outer-container{
        padding: 20px 40px;
    }
    /* aside */
    #notifiche{
        font-size: 0.8em;
        padding: 10px;
    }
    aside > #search-nav > i{
        left: 15px;
    }
    #aside-search{
        padding-left: 40px;
    }
    #aside-search::placeholder{
        left: 40px;
    }
}


@media screen and (max-width: 750px) {
    .outer-container{
        padding: 16px 16px;
    }
    /* aside */
    aside > header .header-icons{
        gap: 4px;
        margin-right: 0;
    }
    #chats .li-dx{
        display: none;
    }
    #notifiche{
        display: none;
    }
    #chats{
        height: calc(100% - 100px);
    }
    #chats li{
        font-size: 0.8em;
    }
    #chats .li-sx img{
        height: 40px;
    }
}


@media screen and (max-width: 650px) {
    /* aside */
    aside .myImg img{
        height: 30px;
    }
    aside > header .header-icons{
        font-size: 0.8em;
    }
    #chats li p{
        display: none;
    }
    aside > #search-nav > i{
        left: 5px;
    }
    #aside-search{
        font-size: 0.7em;
        padding-left: 20px;
    }
    #aside-search::placeholder{
        left: 20px;
    }
}

@media screen and (max-width: 570px) {
    /* aside */
    
    
    #chats li p{
        display: block;
    }
    #chats .li-sx{
        gap: 5px;
    }
    #chats .li-dx{
        display: block;
    }
    
    /* main */
    main header, #app{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    main footer, #app{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .chatImg .fa-circle-arrow-left{
        display: block;
    }
    .chat-text .row {
        padding: 5px 20px;
    }
}