/* GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Libre Bodoni', serif; */
    font-family: 'Roboto', sans-serif;
}
.outer-container{
    background-image: linear-gradient(#009688 120px, #D8DBD6 120px);
    height: 100vh;
    width: 100vw;
    padding: 20px 150px;
}
#app{
    display: flex;
    height: 100%;
    width:100%;
    background-color: white;   
}
i{
    color: #B1B1B1;
    padding: 5px;
    border-radius: 5px;
}
.user-icon{
    height: 50px;
    border-radius: 50%;
}
.header-icons{
    font-size: 1.1rem;
    display: flex;
    gap: 8.5px;
    margin-right: 20px;
    cursor: pointer;
}
.header-icons i:hover{
    background-color: #FDFDFD;
}

/* ASIDE */

aside{
    width: 35%;
    border-right: 1px solid lightgray;
}

/* aside - header */
aside > header{
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
aside header .myImg{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8em;
    font-weight: 500;
}
.myImg img{
    height: 40px;
}
/* aside - notifiche */
#notifiche{
    display: flex;
    gap: 10px;
    width: 100%;
    background-color: #8EDAFC;
    padding: 15px;
}
#notifiche i{
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
    padding: 10px;
}
.notifiche-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-size: 0.9em;
}
.notifiche-text a{
    color: gray;
    font-size: 0.8em;
}

/* aside - search */
#search-nav{
    position: relative;
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside > #search-nav > i{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    font-size: 0.8em;
    cursor: pointer;
}
#aside-search{
    height: 30px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 80px;
}
#aside-search::placeholder{
    font-size: 0.8em;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* aside - ul */
aside > #chats > ul{
    list-style: none;
    overflow-y: auto;
}
#chats li{
    border-top: 1px solid #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
}
#chats .li-sx{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
#chats li:first-of-type{
    background-color: #E9EBEB;
}
aside ul .user-icon{
    align-self: center;
}
.aside-chat-text > h4{
    font-weight: 500;
}
.aside-chat-text > p, .li-dx{
    color: rgb(140, 138, 138);
    font-size: 0.7rem;
    font-weight: 400;
}



/* MAIN */
main{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}
/* main - header */
main > header{
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
main > header .chatImg{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8em;
    font-weight: 500;
}
.chatImg img{
    height: 40px;
}

/* CHAT TEXT */
main > section.chat-text{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}
/* main - footer */
main > footer{
    height: 50px;
    background-color: #F3EEEA;
}