/* GENERALI */
*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}
.outer-container{
    background-image: linear-gradient(#009688 120px, #D8DBD6 120px);
    height: 100vh;
    width: 100vw;
    padding: 20px 150px;
}
#app{
    display: flex;
    height: 100%;
    width:100%;
    background-color: white;   
}
i{
    color: #B1B1B1;
}

/* ASIDE */

aside{
    width: 35%;
    border-right: 1px solid lightgray;
}

/* aside - header */
aside > header{
    background-color: #EAEAEA;
}
/* aside - notifiche */
#notifiche{
    height: 30px;
    width: 100%;
    background-color: #8EDAFC;
}

/* aside - search */
#search-nav{
    position: relative;
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside > #search-nav > i{
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    font-size: 0.8em;
    cursor: pointer;
}
#aside-search{
    height: 30px;
    width: 95%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 80px;
}
#aside-search::placeholder{
    font-size: 0.8em;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* aside - ul */
aside > #chats > ul{
    list-style: none;
}
#chats li:first-of-type{
    background-color: #E9EBEB;
}
.user-icon{
    height: 50px;
    border-radius: 50%;
}


/* MAIN */
main{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}
/* main - header */
main > header{
    background-color: #EAEAEA;
}
main > section.chat-text{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
}
/* main - footer */
main > footer{
    height: 50px;
    background-color: #F3EEEA;
}