<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icona favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media-query.css">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/e6654805a9.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>BoolzApp</title>
</head>
<body>
    <div class="outer-container">

        <div id="app">

            <!-- ASIDE NASCOSTO -->

            <nav v-if="!desktop" class="nav-hidden">
                <!-- sx header -->
                <header>
                    <div class="myImg">
                        <img src="img/avatar_io.jpg" alt="icona utente" class="user-icon">
                        <span>Sofia</span>
                    </div>
                    <div class="header-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <!-- sx notifiche -->
                <section id="notifiche">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="notifiche-text">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </section>

                <!-- sx search navbar -->
                <nav id="search-nav">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" name="aside-search" id="aside-search" placeholder="Cerca o inizia una nuova chat" v-model="filteredWord">
                </nav>

                <!-- sx chats -->
                <section id="chats">
                    <ul>

                        <li v-for="(chat,index) in chats" :id="chats[index].avatar" :key="chats[index].avatar" @click="getActiveIndex(index); filteredWord = ''; scroll(); toggleNav() " v-if=" filtraNome(chat) || filteredWord === '' " :class=" activeIndex === index ? 'active' : ''">
                            <div class="li-sx">
                                <img :src=" 'img/avatar_' + chats[index].avatar + '.jpg' " :alt="chats[index].name" class="user-icon">
                                <div class="aside-chat-text">
                                    <h4>{{chats[index].name}}</h4>
                                    <p v-if="chats[index].messages.length > 0">{{breakString(viewLastMessage(index))}}</p>
                                </div>
                            </div>
                            <div class="li-dx" v-if="chats[index].messages.length > 0">
                                {{ viewLastDate(index) }}
                            </div>
                            <div class="li-dx" v-else>
                                Nessun messaggio da visualizzare
                            </div>
                            
                        </li>

                    </ul>
                </section>

            </nav>

            <!-- ASIDE (PARTE A SX) -->
            <aside v-if="desktop">
                <!-- sx header -->
                <header>
                    <div class="myImg">
                        <img src="img/avatar_io.jpg" alt="icona utente" class="user-icon">
                        <span>Sofia</span>
                    </div>
                    <div class="header-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </header>

                <!-- sx notifiche -->
                <section id="notifiche">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="notifiche-text">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </section>

                <!-- sx search navbar -->
                <nav id="search-nav">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" name="aside-search" id="aside-search" placeholder="Cerca o inizia una nuova chat" v-model="filteredWord">
                </nav>

                <!-- sx chats -->
                <section id="chats">
                    <ul>

                        <li v-for="(chat,index) in chats" :id="chats[index].avatar" :key="chats[index].avatar" @click="getActiveIndex(index); filteredWord = ''; scroll() " v-if=" filtraNome(chat) || filteredWord === '' " :class=" activeIndex === index ? 'active' : ''">
                            <div class="li-sx">
                                <img :src=" 'img/avatar_' + chats[index].avatar + '.jpg' " :alt="chats[index].name" class="user-icon">
                                <div class="aside-chat-text">
                                    <h4>{{chats[index].name}}</h4>
                                    <p v-if="chats[index].messages.length > 0">{{breakString(viewLastMessage(index))}}</p>
                                </div>
                            </div>
                            <div class="li-dx" v-if="chats[index].messages.length > 0">
                                {{ viewLastDate(index) }}
                            </div>
                            <div class="li-dx" v-else>
                                Nessun messaggio da visualizzare
                            </div>
                            
                        </li>

                    </ul>
                </section>

            </aside>

            <!-- MAIN (PARTE A DX) -->
            <main>
                <!-- INTESTAZIONE CHAT -->
                <header>
                    <div class="chatImg">
                        <i @click="toggleNav" class="fa-solid fa-circle-arrow-left"></i>
                        <img :src="'img/avatar_' + chats[activeIndex].avatar + '.jpg' " alt="icona utente" class="user-icon">
                        <div class="aside-chat-text">
                            <h4>{{chats[activeIndex].name}}</h4>
                            <p v-if="chats[activeIndex].messages.length > 0 && getLastReceived() != 'Offline' ">{{getLastReceived()}}</p>
                            <p v-if="chats[activeIndex].messages.length === 0 ||  getLastReceived() ==='Offline' ">Offline</p>
                        </div>
                    </div>

                    <div class="header-icons" style="position: relative;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        <div class="popUp">
                            <div @click="deleteAllMsg" class="delete">Elimina Messaggi</div>
                            <div @click="deleteChat" class="info">Elimina Chat</div>
                        </div>
                    </div>
                </header>

                <!-- CHAT -->
                <section class="chat-text">
                    <div v-if="chats[activeIndex].messages.length > 0" v-for="(message, index) in chats[activeIndex].messages" class="row">

                        <div class="text" :class="message.status === 'received' ? 'white' : 'green' " >

                            <span>{{message.message}}</span>

                            <div style="position: relative;" class="li-dx" >
                                <!-- data -->
                                <span style="float: left">{{ modifyDate(message.date) }}</span>
                                <!-- icona -->
                                <div class="chevron">
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <!-- menù a tendina -->
                                <div class="popUp">
                                    <div @click="eliminaMsg(index)" class="delete">Elimina Messaggio</div>
                                    <div @click="getMsgIndex(index) ;apriChiudiInfo()" class="info">Info Messaggio</div>
                                </div>

                            </div>    
                        </div>

                    </div>

                </section>

                <!-- FOOTER CHAT -->
                <footer>
                    <div class="icon-sx">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>

                    <input type="text" name="write-message" id="write-message" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="pushMessage()">

                    <div class="icon-dx">
                        <i v-if="newMessage === '' " class="fa-solid fa-microphone"></i>
                        <i v-else class="fa-solid fa-paper-plane" @click="pushMessage"></i>
                    </div>

                    </icon>
                </footer>

            </main>
            <div class="info-cliccate">
                <i @click="apriChiudiInfo()" class="fa-solid fa-xmark"></i>
                <div>Testo :   ' {{ viewMsg }} '</div>
                <div>Data :   --  {{ viewDate }}  --</div>
                <div>Stato :   {{ viewStatus === 'sent' ? 'Inviato' : 'Ricevuto' }}</div>

            </div>
        </div>
    </div>

    <script src="js/script.js"></script>
</body>
</html>